img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 50%;
  padding: 5px; /* Some padding */
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /* width: 70px; /* Set a small width */ */
}

ul {
  text-align: center;
}

h1 {
  text-align: center;
}

.icons {
  padding: 20%;
  text-align: center;
  display: inline;
}
.profile, .email, .address, .password, .phone {
  display: inline-block;
  max-width: 100px;
}
.profiletext, .emailtext, .phonetext, .addressdiv, .passwordtext {
  max-width: 150px;
  display: inline-block;
  text-align: center;
}
